@charset "UTF-8";
.flex-nml {
  display: flex;
  flex-wrap: wrap;
}

.flex-btw {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.row-reverse {
  flex-direction: row-reverse;
}

html {
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #9f9589;
  scroll-padding-top: 50px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  background: #fffbf7;
}

a {
  color: #9f9589;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  max-width: 1080px;
  width: 96%;
  margin-inline: auto;
  padding: 80px 25px 100px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding: 60px 15px 60px;
  }
}

.inner__large {
  max-width: 1280px;
  width: 96%;
  margin-inline: auto;
  padding: 100px 25px;
}
@media screen and (max-width: 768px) {
  .inner__large {
    padding: 60px 15px;
  }
}

.inner__small {
  max-width: 950px;
  width: 96%;
  margin-inline: auto;
  padding: 80px 25px 100px;
}
@media screen and (max-width: 768px) {
  .inner__small {
    padding: 60px 15px 60px;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}

.pc-none {
  display: none;
}
@media screen and (max-width: 768px) {
  .pc-none {
    display: block;
  }
}

.lgbr {
  display: none;
}
@media screen and (max-width: 1024px) {
  .lgbr {
    display: block;
  }
}

.section__ttl {
  font-family: "Cinzel Decorative", "cursive";
  font-size: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section__ttl {
    font-size: 30px;
    text-align: center;
  }
}

.section__ttl.section__ttl--greige {
  color: #9f9589;
}

.section__ttl.section__ttl--white {
  color: #fffbf7;
}

.link {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  font-weight: 600;
}

.btn {
  position: relative;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 3px;
  letter-spacing: 0.075em;
  border: 1px solid #cac0ae;
  transition: all 0.3s;
  cursor: pointer;
  font-family: "Cinzel Decorative", "cursive";
}
@media screen and (max-width: 768px) {
  .btn {
    width: 180px;
  }
}
.btn:hover {
  background: #cac0ae;
}
.btn:hover a {
  color: #fffbf7;
  transition: all 0.3s;
}
.btn a {
  color: #9f9589;
}

.btn__arrow {
  position: absolute;
  width: 30px;
  top: 50%;
  right: 25px;
  z-index: 10;
  margin-top: 1px;
}
@media screen and (max-width: 768px) {
  .btn__arrow {
    right: 15px;
  }
}

.btn__arrow:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #9f9589;
}

.btn__arrow:after {
  position: absolute;
  bottom: -0.5px;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #9f9589;
  border-width: 4px 0 0 7px;
}

.btn:hover .btn__arrow:before {
  background: #fffbf7;
}

.btn:hover .btn__arrow:after {
  border-color: transparent transparent transparent #fffbf7;
}

.btn.btn--white {
  border: 1px solid #fffbf7;
  color: #fffbf7;
}

.btn.btn--center {
  margin: 50px auto 0;
}

.wp-pagenavi {
  clear: both;
  text-align: center;
  margin-top: 50px;
}
.wp-pagenavi a,
.wp-pagenavi span {
  line-height: 1.4;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 8px 12px;
  margin: 0 2px 5px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .wp-pagenavi a,
  .wp-pagenavi span {
    font-size: 13px;
  }
}
.wp-pagenavi span.pages {
  display: none;
}
.wp-pagenavi a:hover {
  background: #cac0ae;
  opacity: 1;
  color: #fffbf7;
}
.wp-pagenavi span.current {
  background: #cac0ae;
  font-weight: bold;
  color: #fffbf7;
}

.bread_crumb_list {
  font-size: 13px;
  color: #888;
  position: relative;
  z-index: 100;
}

.bread_crumb {
  width: 96%;
  text-align: right;
  padding: 15px 0px 0px;
  max-width: 1280px;
  margin: 0px auto 0px;
  position: relative;
  top: 0px;
}
.bread_crumb li {
  display: inline-block;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.bread_crumb li:after {
  content: "―";
  padding-left: 10px;
  padding-right: 5px;
}
.bread_crumb li:last-child:after {
  content: "";
}
.bread_crumb li a {
  text-decoration: underline;
  font-family: "Cinzel Decorative", "cursive";
}
.bread_crumb li a:hover {
  text-decoration: none;
}
.bread_crumb li.current {
  font-weight: normal;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 95px;
  top: 0;
  left: 0;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .header {
    height: 75px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 20px;
}

.header__logo {
  margin-right: auto;
  font-size: 24px;
  font-family: "Cinzel Decorative", "cursive";
}
@media screen and (max-width: 768px) {
  .header__logo {
    font-size: 18px;
  }
}
.header__logo .header__link {
  color: #fffbf7;
}

.header__nav {
  height: inherit;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
  font-family: "Cinzel Decorative", "cursive";
}
.header__item:not(:first-child) {
  margin-left: 50px;
}
.header__item a {
  color: #fffbf7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.header__link span {
  display: inline-block;
}

.header__link:hover span {
  transition: 0.6s;
  transform: rotateX(360deg);
}

.header__link:hover span:nth-of-type(1) {
  transition-delay: 0.03s;
}

.header__link:hover span:nth-of-type(2) {
  transition-delay: 0.06s;
}

.header__link:hover span:nth-of-type(3) {
  transition-delay: 0.09s;
}

.header__link:hover span:nth-of-type(4) {
  transition-delay: 0.12s;
}

.header__link:hover span:nth-of-type(5) {
  transition-delay: 0.15s;
}

.header__link:hover span:nth-of-type(6) {
  transition-delay: 0.18s;
}

.header__link:hover span:nth-of-type(7) {
  transition-delay: 0.21s;
}

.header__inner.change-color {
  background-color: #cac0ae;
  transition: 0.3s;
  border-bottom: none;
}

.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  height: 16px;
  width: 30px;
  cursor: pointer;
}

.hamburger .is-active {
  top: 32px;
  right: 20px;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 2px;
  width: 100%;
  background: #fffbf7;
  transition: 0.3s transform;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  transition: 0.3s opacity;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 10px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 10px;
  transform: rotate(45deg);
}

.drawer-menu {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: #cac0ae;
}

.drawer-menu__inner {
  display: grid;
  place-content: center;
  place-items: center;
  height: inherit;
  width: 100%;
}

.drawer-menu__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawer-menu__item {
  display: inline-block;
  font-family: "Cinzel Decorative", "cursive";
}
.drawer-menu__item a {
  font-size: 18px;
  color: #fffbf7;
}
.drawer-menu__item:not(:first-child) {
  margin-top: 20px;
}

.ft__inner {
  padding: 15px;
  text-align: center;
  background: #cac0ae;
}
@media screen and (max-width: 768px) {
  .ft__inner {
    padding: 10px;
  }
}
.ft__inner small {
  color: #fffbf7;
}

.mv {
  width: 100%;
  height: 100vh;
  background: #cac0ae;
  animation: bgchange 10s ease infinite;
}

@keyframes bgchange {
  0% {
    background: #dbcfba;
  }
  25% {
    background: #cabba4;
  }
  50% {
    background: #ceb29b;
  }
  75% {
    background: #c7ada1;
  }
  90% {
    background: #dfc8bb;
  }
  100% {
    background: #dbd0bc;
  }
}
.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__flex {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 15%;
  transform: translatey(-50%);
}
@media screen and (max-width: 1024px) {
  .mv__flex {
    left: 10%;
  }
}
@media screen and (max-width: 768px) {
  .mv__flex {
    justify-content: center;
  }
}

.mv__img {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .mv__img {
    width: 70%;
  }
}
.mv__img img {
  max-width: 430px;
  height: auto;
  border-radius: 220px 220px 0 0;
}

/* fadeIn */
.fadeIn {
  opacity: 0;
  animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.second {
  animation-delay: 1s;
}

.third {
  animation-delay: 2s;
}

.mv__ttl-wrap {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .mv__ttl-wrap {
    margin: 70% 0 0 -33%;
    width: 63%;
  }
}

.mv__ttl {
  font-family: "Parisienne", "cursive";
  font-size: 60px;
  color: #fffbf7;
  margin: 130px 0 0 -100px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1024px) {
  .mv__ttl {
    margin: 70px 0 0 -30px;
  }
}
@media screen and (max-width: 768px) {
  .mv__ttl {
    font-size: 40px;
    margin: 0 0 0 -30px;
  }
}

.mv__ttl--sub {
  font-size: 20px;
  font-family: "Shippori Mincho", sans-serif;
  font-weight: 300;
  color: #fffbf7;
  margin: 20px 0 0 70px;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .mv__ttl--sub {
    font-size: 14px;
    margin: 0;
  }
}

.works__items {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .works__items {
    margin-top: 0;
  }
}
.works__items::after {
  display: block;
  content: "";
  width: 31%;
}

.works__item {
  width: 31%;
}
@media screen and (max-width: 768px) {
  .works__item {
    width: 100%;
  }
}

.works__item:nth-child(2) {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .works__item:nth-child(2) {
    margin-top: 40px;
  }
}

.works__item:nth-child(3) {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .works__item:nth-child(3) {
    margin-top: 40px;
  }
}

.works__img {
  transition: transform 0.6s ease;
  position: relative;
  width: 100%;
}
.works__img img {
  aspect-ratio: 1920/1080;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__img::after {
  content: "view more";
  font-family: "Cinzel Decorative", "cursive";
  font-size: 20px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fffbf7;
  display: flex;
  height: auto;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  transition: opacity 0.6s ease;
  width: 100%;
}

.works__img:hover::after {
  opacity: 1;
}

.works__ttl {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .works__ttl {
    margin-top: 15px;
    font-size: 15px;
  }
}

.works__role {
  font-size: 14px;
  margin-top: 10px;
  font-family: "Cinzel Decorative", "cursive";
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}

.service {
  background: #c3b9ad;
}
.service .section__ttl {
  text-align: center;
}

.service__items {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .service__items {
    display: block;
  }
}

.service__item {
  position: relative;
  max-width: 300px;
  width: 30%;
  margin-bottom: 40px;
  border-radius: 180px 180px 0 0;
  background: #fffbf7;
  margin-right: 30px;
}
@media screen and (max-width: 1024px) {
  .service__item {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .service__item {
    max-width: 280px;
    width: 100%;
    margin-inline: auto;
  }
}
.service__item:nth-child(3) {
  margin-right: 0;
}
@media screen and (max-width: 1024px) {
  .service__item:nth-child(3) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .service__item:nth-child(3) {
    margin-inline: auto;
  }
}
@media screen and (max-width: 768px) {
  .service__item:last-child {
    margin-bottom: 0;
  }
}

.service__imgwrap {
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 250px;
  padding-top: 50px;
  background: #f2ede7;
  border-radius: 180px 180px 0 0;
}
@media screen and (max-width: 768px) {
  .service__imgwrap {
    height: 200px;
  }
}

.service__img {
  width: 75px;
}
@media screen and (max-width: 768px) {
  .service__img {
    width: 60px;
  }
}

.service__ttl {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .service__ttl {
    font-size: 16px;
    margin-top: 5px;
  }
}

.service__ttl-en {
  position: absolute;
  font-family: "Parisienne", "cursive";
  top: 12%;
  left: 30%;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .service__ttl-en {
    top: 15%;
  }
}

.service__txtarea {
  background: #fffbf7;
  padding: 30px 20px;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .service__txtarea {
    font-size: 14px;
    padding-top: 20px;
    min-height: 130px;
  }
}

.about__txtbox {
  flex-direction: row-reverse;
  margin-top: 50px;
}

.about__img {
  width: 38%;
  padding-top: 80px;
}
@media screen and (max-width: 768px) {
  .about__img {
    display: block;
    width: 100%;
    padding-top: 0;
  }
}
.about__img img {
  border-radius: 170px 170px 0 0;
}
@media screen and (max-width: 768px) {
  .about__img img {
    width: 250px;
    margin-inline: auto;
  }
}

.about__txtarea {
  width: 52%;
}
@media screen and (max-width: 768px) {
  .about__txtarea {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}

.about__txt {
  line-height: 1.875;
}
.about__txt:nth-child(2) {
  margin-top: 15px;
}

.about__tool {
  border-top: 1px solid #cac0ae;
  border-bottom: 1px solid #cac0ae;
  padding: 10px 20px;
  margin-top: 20px;
}

.contact .inner__large {
  padding: 70px 25px;
  border-top: 1px solid #cac0ae;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact .inner__large {
    padding: 50px 15px;
  }
}

.contact__txt {
  margin-top: 40px;
  line-height: 1.875;
}
@media screen and (max-width: 768px) {
  .contact__txt {
    margin-top: 20px;
  }
}

.btn.ft__contact-btn {
  width: 265px;
  margin: 30px auto 0;
}
@media screen and (max-width: 768px) {
  .btn.ft__contact-btn {
    width: 230px;
  }
}

.sub__mv {
  position: relative;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 768px) {
  .sub__mv {
    height: 200px;
  }
}

.sub__mv .mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.sub__mv .mv__ttl-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .sub__mv .mv__ttl-wrap {
    margin: 0;
    top: 60%;
  }
}

.sub__mv .mv__ttl {
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  font-family: "Cinzel Decorative", "cursive";
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .sub__mv .mv__ttl {
    font-size: 30px;
  }
}

.mv__ttl-jp {
  display: block;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .mv__ttl-jp {
    font-size: 14px;
  }
}

.sub__works .works__items {
  margin-top: 0;
}
.sub__works .works__item {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .sub__works .works__item {
    margin-bottom: 30px;
  }
}
.sub__works .works__item:nth-child(2) {
  margin-top: 0;
}
.sub__works .works__item:nth-child(3) {
  margin-top: 0;
}

.works-detail__ttl {
  font-weight: 500;
  margin-top: 70px;
  font-size: 26px;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 3px solid #DDD;
}
@media screen and (max-width: 768px) {
  .works-detail__ttl {
    font-size: 18px;
    margin-top: 30px;
  }
}

.works-detail__ttl::after {
  position: absolute;
  content: " ";
  border-bottom: solid 3px #c3b9ad;
  bottom: -3px;
  width: 15%;
  display: block;
}

.works-detail__wrap {
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  .works-detail__wrap {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
}

.works-detail__img02 {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .works-detail__img02 {
    width: 100%;
    display: block;
    margin-top: 40px;
  }
}

.works-detail__txtarea {
  width: 44%;
}
@media screen and (max-width: 1024px) {
  .works-detail__txtarea {
    width: 100%;
    display: block;
  }
}

.works-detail__tbl td {
  border-bottom: 1px solid #cac0ae;
  padding: 5px 20px 20px;
}
@media screen and (max-width: 768px) {
  .works-detail__tbl td {
    padding: 5px 0 15px;
  }
}
.works-detail__tbl th {
  padding: 20px 20px 5px;
}
@media screen and (max-width: 768px) {
  .works-detail__tbl th {
    padding: 15px 0 5px;
  }
}
.works-detail__tbl th, .works-detail__tbl td {
  display: block;
  width: 100%;
  text-align: left;
}
.works-detail__tbl .small {
  font-size: 13px;
}

.form__txt {
  max-width: 620px;
  width: 100%;
  line-height: 1.875;
  margin-inline: auto;
}

.form {
  margin-top: 60px;
  margin-inline: auto;
  max-width: 620px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .form {
    margin-top: 15px;
  }
}

.form__item {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__item {
    padding: 16px 14px 16px 14px;
    flex-wrap: wrap;
  }
}

.form__item-label {
  width: 100%;
  max-width: 160px;
}
@media screen and (max-width: 768px) {
  .form__item-label {
    flex: inherit;
  }
}

.form__label-required {
  color: #7a1616;
}

.form__item-input {
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 45px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #dcd2c6;
}
@media screen and (max-width: 768px) {
  .form__item-input {
    flex: inherit;
    margin-left: 0;
    margin-top: 10px;
  }
}

.form__item-txtarea {
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 200px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #dcd2c6;
}
@media screen and (max-width: 768px) {
  .form__item-txtarea {
    flex: inherit;
    margin-left: 0;
    margin-top: 10px;
  }
}

.form__btn {
  color: #cac0ae;
  margin-inline: auto;
  margin-top: 40px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
@media screen and (max-width: 768px) {
  .form__btn {
    margin-top: 30px;
  }
}
.form__btn:hover {
  color: #fffbf7;
}/*# sourceMappingURL=style.css.map */